body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('https://www.10wallpaper.com/wallpaper/1366x768/1705/Clash_Of_Clans-2017_Game_HD_Wallpaper_1366x768.jpg');
    background-repeat: no-repeat;            /* Não repetir a imagem */
    background-size: cover;                  /* Expandir a imagem para cobrir toda a tela */
    background-attachment: fixed;            /* Faz a imagem ficar fixa no fundo ao rolar */
    background-position: center center;      /* Centraliza a imagem */
  }